@using EvaluationApp.Core.Shared
@inject IEvaluationFormsService formService
@model EvaluationApp.Models.EvaluationViewModel
<br /> <br />

<h2>@Model.EvaluationName - @*@Model.EmployeeName*@</h2>

@*
    <form asp-controller="EvaluationForms" asp-action="StartEvaluation" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified">
            @foreach (var item in Model.Sections)
            {
                string anchorTarget = "#panel" + item.Id;
                <li class="nav-item">
                    <a data-toggle="tab" href="@anchorTarget" role="tab">@item.Name</a>
                </li>
            }

        </ul>

        <div class="container">

            <div class="tab-content">
                @for (int i = 0; i < Model.Sections.Count; i++)
                {
                    string anchorTarget = "panel" + (i + 1);

                    if (Model.Sections.ElementAt(i).Id == 1)
                    {
                        <div class="tab-pane fade in active" id="@anchorTarget">
                            <br>
                            <p> Criteria - @anchorTarget</p>
                            @foreach (var criteria in Model.Sections.ElementAt(i).Criteria)
                            {
                                <div class="form-group">
                                    <label class="control-label"> @criteria.Name</label>
                                    <input asp-for="@criteria.Grade.Value" class="form-control" />
                                    <span asp-validation-for="@criteria.Grade.Value" class="text-danger"></span>
                                </div>
                            }
                        </div>
                    }

                    <div id="@anchorTarget" class="tab-pane fade">
                        <br>
                        <p> Criteria - @anchorTarget</p>
                        @foreach (var criteria in Model.Sections.ElementAt(i).Criteria)
                        {
                            <div class="form-group">
                                <label class="control-label"> @criteria.Name</label>
                                <input asp-for="@criteria.Grade.Value" class="form-control" />
                                <span asp-validation-for="@criteria.Grade.Value" class="text-danger"></span>
                            </div>
                        }
                    </div>

                }
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>*@


<div class="container">
    <form asp-controller="EvaluationForms" asp-action="StartEvaluation" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-12">
                <!-- Nav tabs -->
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="nav-item">
                            <a href="#tab0" aria-controls="tab0" role="tab" data-toggle="tab" class="nav-link active">@Model.Sections.ElementAt(0).Name</a>
                        </li>

                        @for (int i = 1; i < Model.Sections.Count; i++)
                        {
                            string anchorTarget = "tab" + i;
                            Model.EvaluationGrades = formService.GetEvaluationGrades(Model.Sections.ElementAt(i));

                        <li role="presentation" class="nav-item">
                            <a href="#@anchorTarget" aria-controls="@anchorTarget" role="tab" data-toggle="tab" class="nav-link">@Model.Sections.ElementAt(i).Name</a>
                        </li>
                }

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="tab0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Criteria</th>
                                        <th>Evaluation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var criteria in Model.Sections.ElementAt(0).Criteria)
                                {
                                    <tr>
                                        <td>@criteria.Name</td>
                                        <td>
                                            <div class="form-group">
                                                <select id="evaluationFormsSelect" data-placeholder="Evaluation Grades"
                                                        class="chosen-select form-control" tabindex="-1"
                                                        asp-for="@criteria.Name" asp-items="Model.EvaluationGrades"></select>

                                            </div>
                                        </td>
                                    </tr>
                            }
                                </tbody>
                            </table>
                        </div>

                        @for (int i = 1; i < Model.Sections.Count; i++)
                    {
                        string anchorTarget = "tab" + i;
                        <div role="tabpanel" class="tab-pane" id="@anchorTarget">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Criteria</th>
                                        <th>Evaluation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var criteria in Model.Sections.ElementAt(i).Criteria)
                                {
                                    <tr>
                                        <td>@criteria.Name</td>
                                        <td>
                                            <div class="form-group">
                                                <select id="evaluationFormsSelect" data-placeholder="Evaluation Grades"
                                                        class="chosen-select form-control" tabindex="-1"
                                                        asp-for="@criteria.Name" asp-items="Model.EvaluationGrades"></select>
                                            </div>
                                        </td>
                                    </tr>
                            }
                                </tbody>
                            </table>
                        </div>
                }
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </form>
</div>