@model IEnumerable<EvaluationApp.Models.EvaluationViewModel>
<br /><br />
<script>

</script>
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover" id="table_id">
                <thead>
                    <tr>
                        <th>Evaluation Name</th>
                        <th>Evaluation Form</th>
                        <th>Employee</th>
                        <th>Last Evaluator</th>
                        <th class="no-sort">Actions</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Evaluations" asp-action="DetailsCompleted" asp-route-evaluationId="@item.Id">@item.EvaluationName</a>
                            </td>
                            <td>@item.FormName</td>
                            <td>@item.Employee.Name</td>
                            <td>@item.LastEvaluator.Name</td>
                            <td>
                                <a asp-controller="Evaluations" asp-action="DetailsCompleted" asp-route-evaluationId="@item.Id" data-toggle="tooltip" data-placement="bottom" title="View Evaluation"><img src="~/images/view.png" /></a>
                                <a data-toggle="tooltip" data-placement="bottom" title="Delete Evaluation">
                                    <img data-toggle="modal" data-id="@item.Id" data-target="#exampleModal" src="~/images/cancel.png" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="confirmModal" class="modal-content">
        </div>
    </div>
</div>

<script>
    $('#exampleModal').on('show.bs.modal', function (e) {
        $('#confirmModal').load('@Url.Action("DeleteModal", "Evaluations")/' + $(e.relatedTarget).data('id'));
        $('#exampleModal').modal('show');
})
</script>
