@model AppServices.EvaluationStatistics.EvaluationFormStatistics


<br>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    @{
                        var idx = 0;
                        var defaultTab = 0;
                    }
                    @foreach (var crtSection in Model.SectionStatistics)
                    {
                        var tabId = "tab" + idx;
                        var tabRef = "#" + tabId;
                        var aClass = "nav-link";
                        var aId = "a" + tabId;
                        var selectedArea = "";
                        if (idx == defaultTab)
                        {
                            aClass += " active show";
                            selectedArea = "aria-selected=\"true\"";
                        }
                        <li class="nav-item">
                            <a id="@aId" href="@tabRef" aria-controls="@tabId" role="tab" data-toggle="tab" class="@aClass" @selectedArea>
                                @crtSection.Name
                            </a>
                        </li>
                        idx++;
                    }
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    @{
                        idx = 0;
                        
                    }
                    @foreach (var crtSection in Model.SectionStatistics)
                    {
                        var tabClass = "tab-pane";
                        var chartId = "ct-chart";
                        if (idx == defaultTab)
                        {
                            tabClass += " active show";
                        }
                        string anchorTarget = "tab" + idx;
                        chartId += idx;
                        <div role="tabpanel" class="@tabClass" id="@anchorTarget">
                            <div id="@chartId"></div>
                        </div>
                       
                        idx++;
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<link href="@Url.Content("~/css/DetailsCompleted.css")" rel="stylesheet" type="text/css" />

<script>

    var options = {
        //width: 1000,
        //height: 900,
    };

    var i = 0;
    var chartId = "#ct-chart";
    var tabAnchorId = "#atab";
    var sectionIndex = 0;


    @foreach (var sectionStatistics in @Model.SectionStatistics)
    {
         <text>
            var sectionLabels = [];
            var sectionSeries = [];
         </text>

        @foreach (var sectionStatisticsEntry in sectionStatistics.SectionStatisticsEntries)
        {
            <text>
    sectionLabels.push('@sectionStatisticsEntry.Date.ToString("dd/MM/yy")');

    sectionSeries.push(@sectionStatisticsEntry.AverageGrade.Value);

            </text>
        }

        <text>
    var data = {
        labels: sectionLabels,
        series: [sectionSeries]
    };
    chartToUse = chartId + i;
    aTabToUse = tabAnchorId + i;
    new Chartist.Line(chartToUse, data, options);    
    i++;
    $(aTabToUse).on('shown.bs.tab', function (e) {
        document.querySelector(chartToUse).__chartist__.update();
    });    
    </text>
    }
</script>

<div>
    <a asp-action="Index">Back to Evaluation Forms</a>
</div>