@model IEnumerable<IdentityServer.Domain.Employee>

<link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />

<br /><br />
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover" id="table_id">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Position</th>
                        <th>Team</th>
                        <th class="no-sort">Actions</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <img src="~/images/person1.png" width="16" height="16"/>
                            @item.Name
                        </td>
                        <td>@item.Position?.RoleName</td>
                        <td>@item.Team?.Name</td>
                        <td>
                           <a asp-action="Completed" asp-route-employeeUserName="@item.Username" data-toggle="tooltip" data-placement="bottom" title="View Completed Evaluations for Employee"> <img src="~/images/completed.png" class="zoom"/></a>
                            <a asp-action="InProgress" asp-route-employeeUserName="@item.Username" data-toggle="tooltip" data-placement="bottom" title="View In Pprogress Evaluations for Employee"> <img src="~/images/progress.png" class="zoom" /></a>
                            <a data-toggle="tooltip" data-placement="bottom" title="Evaluate Employee">
                                <img data-toggle="modal" data-id="@item.Username" data-target="#exampleModal" src="~/images/start.png" class="zoom" />
                            </a>
                            <a data-toggle="tooltip" data-placement="bottom" title="View Employee Progress">
                                <img src="~/images/progressView.png"  data-toggle="modal" data-id="@item.Username" data-target="#progressModal" class="zoom"/>
                            </a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="confirmModal" class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="confirmModal1" class="modal-content">
        </div>
    </div>
</div>

<script>
    $('#exampleModal').on('show.bs.modal', function (e) {
        $('#confirmModal').load('@Url.Action("StartFormEvaluationModal", "Employees")/' + $(e.relatedTarget).data('id'));
        $('#exampleModal').modal('show');
    });

    $('#progressModal').on('show.bs.modal', function (e) {
        $('#confirmModal1').load('@Url.Action("ViewEmployeeProgressModal", "Employees")/' + $(e.relatedTarget).data('id'));
        $('#progressModal').modal('show');
    });
</script>