@model IEnumerable<IdentityServer.Domain.Employee>


<br /><br />
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover" id="table_id">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <img src="~/images/person1.png" width="16" height="16"/>
                            @item.Name
                        </td>
                        <td>@item.Position.RoleName</td>
                        <td>@item.Team.Name</td>
                        <td>
                           <a asp-action="Completed" asp-route-employeeId="@item.Id" data-toggle="tooltip" data-placement="bottom" title="View Completed Evaluations for Employee"> <img src="~/images/completed.png" /></a>
                            <a asp-action="InProgress" asp-route-employeeId="@item.Id" data-toggle="tooltip" data-placement="bottom" title="View In Pprogress Evaluations for Employee"> <img src="~/images/progress.png" /></a>
                            <a data-toggle="tooltip" data-placement="bottom" title="Evaluate Employee">
                                <img src="~/images/start.png" data-toggle="modal" onclick="createModal('@Url.Action("StartFormEvaluationModal", "Employees", new { id = item.Id})')" />
                            </a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modelContent">
        </div>
    </div>
</div>