@model EvaluationApp.Domain.FormMockup.Form

<h2>@Model.Name</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="nav-item">
                        <a href="#tab0" aria-controls="tab0" role="tab" data-toggle="tab" class="nav-link active">@Model.Sections.ElementAt(0).Name</a>
                    </li>

                    @for (int i = 1; i < Model.Sections.Count; i++)
                    {
                        string anchorTarget = "tab" + i;

                        <li role="presentation" class="nav-item">
                            <a href="#@anchorTarget" aria-controls="@anchorTarget" role="tab" data-toggle="tab" class="nav-link">@Model.Sections.ElementAt(i).Name</a>
                        </li>
                    }

                </ul>
                <!-- Tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="tab0">

                        @* Chart here *@
                        <div class="ct-chart ct-perfect-fourth"></div>

                    </div>

                    @for (int i = 1; i < Model.Sections.Count; i++)
                    {
                        string anchorTarget = "tab" + i;
                        <div role="tabpanel" class="tab-pane" id="@anchorTarget">

                            @* Chart here *@
                            <div class="ct-chart ct-perfect-fourth"></div>

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<link href="@Url.Content("~/css/DetailsCompleted.css")" rel="stylesheet" type="text/css" />

<script>
    new Chartist.Line('.ct-chart', {
        labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
        series: [
            [12, 9, 7, 8, 5],
            [2, 1, 3.5, 7, 3],
            [1, 3, 4, 5, 6]
        ]
    }, {
            fullWidth: true,
            chartPadding: {
                right: 40
            }
        });</script>

<div>
    <a asp-action="Index">Back to Evaluation Forms</a>
</div>